.restaurant-list {
    padding: 3rem;
    text-align: left;
    background: url(../../images/lodo-grub-bg-white.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;

    h2 {
        font-weight: normal;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            font-size: 0.75rem;
        }
    }

    hr {
        margin: 1.5rem 0 1.25rem;
    }

    p {
        &:last-child {
            padding-bottom: 0.1rem;
            border-bottom: 1px solid #41AFCC;
            display: block;
            width: 122px;
            font-size: 0.75rem;
        }
    }

    a {
        color: #41AFCC;
        text-transform: uppercase;
        text-decoration: none;
    }
}