
.site-header {
    background: url(../../images/lodo-grub-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .site-header-title-wrap {
        padding: 3rem;
    }

    .site-header-body-wrap {
        position: absolute;
        bottom: 2rem;
        left: 3rem;

        p:last-child {
            padding-bottom: 0.1rem;
            border-bottom: 1px solid #41AFCC;
            display: block;
            width: 143px;
            font-size: 0.75rem;
        }
    }

    h1 {
        color: #FFFFFF;
        text-align: center;
    }

    h1 {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 2.25rem;
        letter-spacing: 1rem;
        padding: 2.75rem;
    }

    p {
        color: #FFFFFF;
        font-weight: 400;
        line-height: 1.5;
        max-width: 320px;
        font-size: 0.85rem;

        &:last-child {
            margin-bottom: 1rem;
        }
    }

    a {
        color: #41AFCC;
        text-transform: uppercase;
        text-decoration: none;
    }
}
