@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

.App {
  text-align: left;
  font-family: 'Lato', Helvetica, sans-serif;
}

.ant-checkbox-wrapper,
.ant-radio-wrapper {
  display: block;
}

.set-display-hideSiteHeader {
  display: none;
}

.set-display-showQuestionList {
  display: block;
}