.question-list {
  padding: 3rem;
  text-align: left;
  background: url(../../images/lodo-grub-bg-white.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h2,
  h4 {
      font-weight: normal;
  }
  
  p,
  label {
    font-size: 0.875rem;
  }

  p {
    margin: 1.5rem 0;

    &:last-child {
      position: relative;
      top: 1.25rem;
      padding-bottom: 0.1rem;
      border-bottom: 1px solid #298199;
      display: inline;
      font-size: 1.125rem;
    }
  }

  label {
    padding-bottom: 0.125rem;

    span:last-child {
      padding-left: 0.25rem;
      position: relative;
      top: 1px;
    }
  }

  hr {
      margin: 2rem 0 1.75rem;
  }

  a {
      color: #298199;
      text-transform: uppercase;
      text-decoration: none;
  }

  input,
  span {

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
    .question-list {
        padding: 2rem;
    }
}